---

---

<section id="services"
  class="mx-auto max-w-7xl overflow-hidden bg-white px-6 lg:px-8 py-4">
  <div
    class="mx-auto max-w-2xl px-4 lg:max-w-5xl lg:px-8">
    <div
      class="grid grid-cols-1 items-start gap-x-6 gap-y-16 lg:grid-cols-3 lg:gap-x-8">
      <div class="flex flex-col-reverse">
        <div class="mt-6 space-y-4">
          <h2 class="text-xl font-medium text-gray-900">Air Conditioning</h2>
          <p class="text-sm text-gray-600">
            Our selection spans central AC systems, advanced heat pumps, and customizable ductless mini-splits, all designed to provide you with an energy efficienct and cool summer experience.
          </p>
          <a href="/air-conditioning/ductless-mini-splits/" class="mt-4 inline-block rounded-md bg-white px-3 py-2 text-sm font-semibold text-blue-500 shadow-sm ring-1 ring-inset ring-blue-300 hover:bg-gray-50">View our Air Conditioning Services</a>
        </div>
        <div
          class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100">
          <img
            src="/src/assets/img/air-conditioning-services.jpg"
            alt="Air Conditioning Services Expert"
            class="object-cover object-center"
          />
        </div>
      </div>
      <div class="flex flex-col-reverse">
        <div class="mt-6 space-y-4">
          <h2 class="text-xl font-medium text-gray-900">Heating</h2>
          <p class="text-sm text-gray-600">
            Stay warm during the chilliest months with Elite's heating services. Our team specializes in high-efficiency furnaces, heat pumps, and boilers, designed to provide warmth while minimizing energy costs.
          </p>
          <a href="/heating/heat-pumps/" class="mt-4 inline-block rounded-md bg-white px-3 py-2 text-sm font-semibold text-blue-500 shadow-sm ring-1 ring-inset ring-blue-300 hover:bg-gray-50">View our Heating Services</a>
        </div>
        <div
          class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100">
          <img
            src="/src/assets/img/heating-services.jpg"
            alt="Heating Services Expert"
            class="object-cover object-center"
          />
        </div>
      </div>
      <div class="flex flex-col-reverse">
        <div class="mt-6 space-y-4">
          <h2 class="text-xl font-medium text-gray-900">Water Heaters</h2>
          <p class="text-sm text-gray-600">
            Choose from a selection of energy-saving tankless models, traditional tank water heaters, and ultra-efficient heat pump water heaters from premier brands like Navien and Bradford White. Schedule a consultation today.
          </p>
          <a href="/heating/boilers/" class="mt-4 inline-block rounded-md bg-white px-3 py-2 text-sm font-semibold text-blue-500 shadow-sm ring-1 ring-inset ring-blue-300 hover:bg-gray-50">View our Water Heater Services</a>
        </div>
        <div
          class="aspect-h-1 aspect-w-1 overflow-hidden rounded-lg bg-gray-100">
          <img
            src="/src/assets/img/water-heater-services.jpg"
            alt="Water Heater Services Expert"
            class="object-cover object-center"
          />
        </div>
      </div>
    </div>
  </div>
</section>
