---

---

<section class="mx-auto bg-blue-600 overflow-hidden py-8 lg:py-16">
  <div
    class="relative max-w-7xl mx-auto flex flex-col md:flex-row items-center">
    <div class="w-full h-60 overflow-hidden md:h-full md:w-1/2 md:p-8">
      <img
        class="h-full w-full object-contain drop-shadow-sm"
        src="/assets/img/guarantee-ductless-mini-split.png"
        alt=""
      />
    </div>
    <div class="w-full py-6 sm:py-6 lg:px-8 lg:py-8 md:w-1/2 px-6">
      <p class="text-lg font-semibold leading-7 text-gray-400">
        Why Choose Elite Heating and Cooling?
      </p>
      <h2
        class="mt-2 mb-2 text-3xl font-bold tracking-tight text-white sm:text-5xl">
        Elite Guarantee
      </h2>
      <p class="text-base leading-7 text-white">
        Total peace of mind. With every heating and cooling service we provide, count on our guarantees:
      </p>
      <ul>
        <li class="mt-2 font-semibold text-white flex items-center">
          <svg
            class="h-6 w-6 text-orange-600 mr-2"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          Best Price Guarantee
        </li>
        <li class="mt-2 font-semibold text-white flex items-center">
          <svg
            class="h-6 w-6 text-orange-600 mr-2"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          100% Satisfaction Guarantee
        </li>
        <li class="mt-2 font-semibold text-white flex items-center">
          <svg
            class="h-6 w-6 text-orange-600 mr-2"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          Workmanship Guarantee
        </li>
        <li class="mt-2 font-semibold text-white flex items-center">
          <svg
            class="h-6 w-6 text-orange-600 mr-2"
            viewBox="0 0 20 20"
            fill="currentColor"
            aria-hidden="true">
            <path
              fill-rule="evenodd"
              d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z"
              clip-rule="evenodd"></path>
          </svg>
          Quality Brand Equipment
        </li>
      </ul>
      <div class="mt-6">
        <a
          href="/contact/"
          class="inline-flex rounded-md bg-orange-600 px-4 py-3 text-sm font-bold text-gray-800 shadow-sm hover:bg-orange-300 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-white"
          >Learn More</a
        >
      </div>
    </div>
  </div>
</section>
