---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/dynamic/Hero.astro";
import SectionContentImage from "../../components/dynamic/SectionContentImage.astro";
import SectionContentGuarantee from "../../components/static/SectionContentGuarantee.astro";
import SectionContentReviews from "../../components/static/SectionContentReviews.astro";
import SectionContentArea from "../../components/static/SectionContentArea.astro";
---

<Layout
  title="HVAC Systems for Home Additions | Elite Heating and Cooling"
  description="">
  <div>
    <Hero
      header={{
        title: "Heating and Air Conditioning for Your Home Addition",
        subtitle: "Elite",
        content:
          "We specialize in extending climate control to your home addition or accessory dwelling unit. Contact us today for our expert HVAC solutions.",
      }}
      image={{
        src: "/assets/img/hero-home-addition.jpg",
        alt: "Home Addition HVAC System",
      }}
      primaryCta={{ href: "/contact/", text: "Get a Free Estimate" }}
      secondaryCta={{ href: "tel:(631) 402-5161", text: "(631) 402-5161" }}
    />
    <SectionContentImage
      header={{
        title: "Mini Split Systems for Home Additions",
        subtitle: "",
        content:
          "From expanded living areas to accessory apartments, we have the expertise and quality ductless mini split systems for your home addition. As fellow Long Islanders, we understand the climate challenges and will ensure your new space is comfortable year-round."
      }}
      image={{
        src: "/assets/img/ductless-mini-split-unit.jpg",
        alt: "Ductless Mini-Split Unit",
      }}
      primaryCta={{ href: "/contact/", text: "Get a Free Estimate" }}
      secondaryCta={{ href: "tel:(631) 402-5161", text: "(631) 402-5161" }}
      review={{
        name: "Joanna M.",
        city: "Syosset, NY",
        content:
          "The team at Elite heating and cooling did an excellent job installing my aunts AC System. No hidden fees and the estimate was spot on. Highly recommend. We are very happy!!",
      }}
    />
    <SectionContentGuarantee />
    <SectionContentReviews />
    <SectionContentArea />
  </div>
</Layout>
